
#Coordinator > .page > .content > .title {
  text-transform: capitalize;
  margin-top: 0;
}

#Coordinator > .page > .content > .table{
  width: 100%;
}


#Coordinator > .page > .content > .form > .input {
  margin-bottom: 15px;
}

#Coordinator > .page > .content > .form > .input > .button {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  width: 90px;
  position: absolute;
  bottom: 0;
  right: -120px;
}

#Coordinator > .page > .form > .input > input,
#Coordinator > .page > .form > .input > select {
  text-transform: uppercase;
}

#Coordinator > .page > .form > .input > .field {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#Coordinator > .page > .form > .confirm-delete,
#Coordinator > .page > .form > .cancel-delete {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  border:none;
}