#Coordinator > .page > .table-actions {
  margin-bottom: 10px;
}

#Coordinator > .page > .table-actions > .button {
  padding: 10px;
  display: inline-block;
  background: #e0e0e0;
  color: #000;
  border-radius: 5px;
  text-transform: uppercase;
}

#Coordinator > .page > .title {
  text-transform: capitalize;
  margin-top: 0;
}

#Coordinator > .page > .table{
  width: 100%;
}

#Coordinator > .page > .form {
  width: 500px;
}

#Coordinator > .page > .form > .input {
  margin-bottom: 15px;
}

#Coordinator > .page > .form > .input > .button {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  width: 90px;
  position: absolute;
  bottom: 0;
  right: -120px;
}

#Coordinator > .page > .form > .input > input,
#Coordinator > .page > .form > .input > select {
  text-transform: uppercase;
}

#Coordinator > .page > .form > .input > .field {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#Coordinator > .page > .form > .confirm-delete,
#Coordinator > .page > .form > .cancel-delete {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  border:none;
}

/* Accounts */

#Coordinator > #Accounts > .tabs {
  margin-bottom: 20px;
}


#Coordinator > #Accounts > .table > tbody > tr > td:nth-last-child(1) {
  text-align: center;
}

#Coordinator > #Accounts > .table > thead > tr > .options {
  text-align: center;
}

#Coordinator > #Accounts > .table > tbody > tr > td.option {
  display: flex;
  justify-content: space-around;
}

#Coordinator > #Accounts > .table > tbody > tr > td.option > .button {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
}

/* AccountsForm */
#Coordinator > #AccountForm > .form > #ProfileImage > .image {
  height: 115px;
  width: 115px;
}

#Coordinator > #AccountForm > .form > #ProfileImage > input[name='profile_image'] {
  display: none;
}

#Coordinator > #AccountForm > .form > #ProfileImage > .upload-btn {
  align-self: flex-start;
}


/* Subjects */

#Coordinator > #ManageSubjects > .tabs{
  margin-bottom: 20px;
}

/* Lessons */

#Coordinator > #ManageLessons > .tabs{
  margin-bottom: 20px;
}

/* Questions */

#Coordinator > #ManageQuestions > .tabs {
  margin-bottom: 20px;
}

#Coordinator > #ManageQuestions > .form > .input > textarea[name='question'],
#Coordinator > #ManageQuestions > .form > .input > textarea[name='explanation'] {
  resize: none;
}

#Coordinator > #ManageQuestions > .form > .input > .choice-answer {
  display: flex;
  align-items: center;
}

#Coordinator > #ManageQuestions > .form > .input > .choice-answer > input[type='radio'] {
  margin-left: 10px;
}

#Coordinator > #ManageQuestions > .form > .input > .choice-answer > input[type='text'] {
  width: 100%;
}

/* Exams */

#Coordinator > #ManageExams > .tabs {
  margin-bottom: 20px;
}

/* Learning Videos */

#Coordinator > #ManageLearningVideos > .tabs,
#Coordinator > #LearningVideoForm > .tabs {
  margin-bottom: 20px;
}

#Coordinator > #LearningVideoForm > .form > #VideoLink {
  display: none;
}

#Coordinator > #LearningVideoForm > .form > #UploadVideo > input[type='file'] {
  display: none;
}