#Coordinator > .page > .table-actions {
  margin-bottom: 10px;
}

#Coordinator > .page > .table-actions > .button {
  padding: 10px;
  display: inline-block;
  background: #e0e0e0;
  color: #000;
  border-radius: 5px;
  text-transform: uppercase;
}

#Coordinator > .page > .title {
  text-transform: capitalize;
  margin-top: 0;
}

#Coordinator > .page > .table{
  width: 100%;
}


/* Accounts */

#Coordinator > #Accounts > .tabs {
  margin-bottom: 20px;
}


#Coordinator > #Accounts > .table > tbody > tr > td:nth-last-child(1) {
  text-align: center;
}

#Coordinator > #Accounts > .table > thead > tr > .options {
  text-align: center;
}

#Coordinator > #Accounts > .table > tbody > tr > td.option {
  display: flex;
  justify-content: space-around;
}

#Coordinator > #Accounts > .table > tbody > tr > td.option > .button {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
}

/* AccountsForm */

#Coordinator > .page > .form {
  width: 500px;
}

#Coordinator > .page > .form > .input {
  margin-bottom: 15px;
}

#Coordinator > .page > .form > .input > .button {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  width: 90px;
  position: absolute;
  bottom: 0;
  right: -120px;
}

#Coordinator > .page > .form > .input > input,
#Coordinator > .page > .form > .input > select {
  text-transform: uppercase;
}

#Coordinator > .page > .form > .input > .field {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#Coordinator > .page > .form > .confirm-delete,
#Coordinator > .page > .form > .cancel-delete {
  background: #e0e0e0;
  padding: 5px 10px;
  color: #000;
  font-size: small;
  border:none;
}

/* Subjects */

#Coordinator > #ManageSubjects > .tabs{
  margin-bottom: 20px;
}
/* Lessons */

#Coordinator > #ManageLessons > .tabs{
  margin-bottom: 20px;
}

/* Learning Videos */

#Coordinator > #ManageLearningVideos > .tabs {
  margin-bottom: 20px;
}