#ManageEducationalVideos {
  margin-left: 250px;
}

#ManageEducationalVideos > .tabs {
  margin-bottom: 20px;
}

#ManageEducationalVideos > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageEducationalVideos > .table.subjects {
  width: 50%;
}

#ManageEducationalVideos > .table.subjects > thead > tr > th:nth-child(1) {
  width: 100%;
}

#ManageEducationalVideos > .table.subjects > thead > tr > th:nth-child(2) {
  text-align: center;
} 

.modal-container > .modal > .content > .form > #UploadVideo > input[name='video_file'] {
  display: none;
}

.modal-container > .modal > .content > .form > #SaveLink {
  display: none;
}