#ManageEducationalVideos {
  margin-left: 250px;
}

#ManageEducationalVideos > .tabs {
  margin-bottom: 20px;
}

#ManageEducationalVideos > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageEducationalVideos > .table.subjects > thead > tr > th:nth-child(2),
#ManageEducationalVideos > .table.subjects > tbody > tr > td:nth-child(2) {
  text-align: center;
  width: 90px;
}

#ManageEducationalVideos > .table.educationalvideo > thead > tr > th:nth-child(2) {
  text-align: center;
}

#ManageEducationalVideos > .table.educationalvideo > tbody > tr > td:nth-child(2) {
  width: 250px;
  text-align: center;
}

#ManageEducationalVideos > .table.educationalvideo > tbody > tr > td.teacher-student:nth-child(2) {
  width: 85px;
}

.modal-container > .modal > .content > .form > #UploadVideo > input[name='video_file'] {
  display: none;
}

.modal-container > .modal > .content > .form > #SaveLink {
  display: none;
}

.educationalvideo > .content > .form > .input:nth-last-child(n + 2) {
  margin-bottom: 10px;
}

.educationalvideo > .content > .form > #UploadVideo {
  flex-direction: row;
}

.educationalvideo > .content > .form > #UploadVideo > .choose-video {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  text-transform: uppercase;
}

#ViewModal > .content {
  max-width: 500px;
  max-height: 500px;
}