#ManageExams > .tabs {
  margin-bottom: 20px;
}

#ManageExams > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#ManageExams > .table.exam-questions > thead > tr > th:nth-child(3) {
  width: 1%;
}

#ManageExams > .table.subjects > thead > tr > th:nth-child(2),
#ManageExams > .table.subjects > tbody > tr > td:nth-child(2) {
  width: 60px;
  text-align: center;
}


#ManageExams > .table.exam > thead > tr > th:nth-last-child(1){
  text-align: center;
}

#ManageExams > .table.exam > tbody > tr > td:nth-last-child(1) {
  width: 265px;
  text-align: center;
}

#ManageExams > .table.exam > tbody > tr > td.teacher:nth-last-child(1) {
  width: 180px;
}

#ManageExams > .table.exam.questions > thead > tr > th:nth-last-child(1),
#ManageExams > .table.exam.questions > tbody > tr > td:nth-last-child(1) {
  width: 150px;
  text-align: center;
}

#ExamQuestionModal {
  max-width: 750px;
  background-color: #fff;
  display: none;
  position: relative;
}

#ExamQuestionModal > .title {
  margin-top: 0;
}

#ExamQuestionModal > .button {
  margin-top: 10px;
  margin-left: auto;
  display: block;
}

#ExamQuestionModal > .content {
  margin: 20px 0;
  max-height: 308px;
  overflow-y: scroll;
  padding: 0;
}

#ExamQuestionModal > .content > .table {
  width: 100%;
}
#ExamQuestionModal > .content > .table > thead > tr > th:nth-child(1) {
  width: 560px;
}

#ExamQuestionModal > .content > .table > thead > tr > th:nth-child(2) {
  width: 50px;
}

#ExamQuestionModal > .content > .table > tbody > tr > td > .remove {
  display: none;
}

#ExamViewQuestionModal > .content > .question {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  max-width: 400px;
  border: 0.5px solid #e6e6e6;
}

#ExamViewQuestionModal > .content > .choices {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#ExamViewQuestionModal > .content > .choices > .choice {
  padding: 5px 10px;
}
#ExamViewQuestionModal > .content > .choices > .choice.answer {
  background-color: #d8ffd8
}

#ExamViewQuestionModal > .content > .explanation {
  font-size: 0.75em;
  padding: 10px;
  background: #fff2e5;
  font-style: italic;
  max-width: 400px;
}

#GenerateModal > .content > .form > .question-count > input {
  margin-bottom: 5px;
}

#GenerateModal > .content > .form > .question-count > .count {
  font-size: x-small;
  text-align: right;
  font-style: italic;
}

.modal-container > .modal.exams > .content > .form > .input:nth-last-child(n + 2) {
  margin-bottom: 10px;
}

.modal-container > .modal.exams > .content > .form > .input.instruction > textarea{
  height: 80px;
  resize:none;
}
