#ExamQuestions > .question-item:nth-last-child(n + 2) {
  margin-bottom: 15px;
}

#ExamQuestions > .question-item > .question {
  background: #fff0cf;
  padding: 15px;
}
#ExamQuestions > .question-item > .question > .numbering {
  margin-right: 5px;
}

#ExamQuestions > .question-item > .choices {
  background: #fffbde;
}

#ExamQuestions > .question-item > .choices > .choice {
  display: flex;
  align-items: center;
  padding: 15px 37px;
  font-weight: bold;
}

#ExamQuestions > .question-item > .choices > .choice > input[type=radio] {
  margin-right: 10px;
}

#ExamQuestions > .question-item > .choices > .choice.is-answer {
  background: #c2ffc2;
}

#ExamQuestions {
  margin-bottom: 15px;
  max-width: 89%;
}

#SubmitExam {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  background: #FFAA14;
  color: #fff;
  width: 200px;
}

#ManageExams > .exam-detail:nth-last-child(n + 2) {
  margin-bottom: 10px;
}

#ManageExams > .exam-minutes > label,
#ManageExams > .exam-items > label,
#ManageExams > .exam-instruction > label {
  font-weight: bold;
}

