#ManageHome {
  height: 100%;
}
#ManageHome > .activities > tbody > tr > td > .activity{
  height: 115px;
  background-size: cover;
  background-position: center;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .image,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > .image  {
  display: none;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .image-viewer,
.modal-container > #UpdateModal.home  > .content > #UpdateForm > .input > .image-viewer {
  max-width: 400px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .choose-image,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > .choose-image {
  text-align: center;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > input[type='file'],
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > input[type='file'] {
  display: none;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > textarea,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > textarea {
  resize: none;
  height: 100px;
}

#Home {
  display: flex;
}

#ActivityAnnouncement {
  flex: 1;
}

#ActivityAnnouncement > .content > .title {
  background-color:#FE141A;
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#ActivityAnnouncement > .content > #ActivitySlider {
  display: flex;
  align-items: center;
  background-color: #FE141A;
  padding: 0 10px 10px;
}


#ActivityAnnouncement > .content > #ActivitySlider > #NoActivity,
#ActivityAnnouncement > .content > #Announcements > #NoAnnouncements {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #bb2323;
  padding: 20px;
  box-sizing: border-box;
}

#ActivityAnnouncement > .content > #ActivitySlider > #NoActivity > .message,
#ActivityAnnouncement > .content > #Announcements > #NoAnnouncements > .message {
  margin: 0
}

#ActivityAnnouncement > .content > #ActivitySlider > .slidenav {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  fill: #fe141a;
}

#ActivityAnnouncement > .content > #ActivitySlider > #prevSlide {
  left: 10px;
}

#ActivityAnnouncement > .content > #ActivitySlider > #nextSlide {
  right: 10px;
}

#ActivityAnnouncement > .content > #ActivitySlider > .slick-list{
  height: 500px;
  width: 100%;
}

#ActivityAnnouncement > .content > #ActivitySlider > .slick-list > .slick-track {
  height: 100%;
}

#ActivityAnnouncement > .content > #ActivitySlider > .slick-list > .slick-track > .item {
  position: relative;
}

#ActivityAnnouncement > .content > #ActivitySlider > .slick-list > .slick-track > .item  > .image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#ActivityAnnouncement > .content > #ActivitySlider > .slick-list > .slick-track > .item > .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(167, 167, 167, 0.5);
  margin: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#ActivityAnnouncement > #ActivityContainer {
  margin-bottom: 10px;
}

#ActivityAnnouncement > #AnnouncementContainer {
  background-color: #fe141a;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements {
  padding: 0 10px 10px;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  color: #000;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item:nth-last-child(n + 2) {
  margin-bottom: 10px;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item > .announcer {
  margin-right: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item > .announcer > .image {
  width: 85px;
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
  border: 1px solid #cecece;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item > .announcer > .name {
  font-size: small;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item > .announcement > .post-date {
  margin: 0;
  font-size: small;
  margin-bottom: 5px;
}

#ActivityAnnouncement > #AnnouncementContainer > #Announcements > .item > .announcement > .message {
  text-align: justify;
  margin: 0;
  font-size: small;
}

#MissionVision {
  flex: 0.5;
  padding: 0 20px;
}

#MissionVision > .content > .title{
 text-align: center;
 margin: 0;
 background:#3c9eff;
 padding: 10px;
 color: #fff;

}

#MissionVision > .content > .description {
  text-align: justify;
  margin-top: 0;
  border: 3px solid #3c9eff;
  padding: 10px;
}