#ManageHome {
  height: 100%;
}
#ManageHome > .activities > tbody > tr > td > .activity{
  height: 115px;
  background-size: cover;
  background-position: center;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .image,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > .image  {
  display: none;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .image-viewer,
.modal-container > #UpdateModal.home  > .content > #UpdateForm > .input > .image-viewer {
  max-width: 400px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > .choose-image,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > .choose-image {
  text-align: center;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > input[type='file'],
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > input[type='file'] {
  display: none;
}

.modal-container > #CreateModal.home > .content > #CreateForm > .input > textarea,
.modal-container > #UpdateModal.home > .content > #UpdateForm > .input > textarea {
  resize: none;
  height: 100px;
}

#ActivityContainer > .title {
  background-color:#FE141A;
  color: #fff;
  margin: 0;
  padding: 10px 10px 0;
  text-align: center;
}

#ActivityContainer > #ActivitySlider {
  display: flex;
  align-items: center;
  background-color: #FE141A;
  padding: 10px;
}

#ActivityContainer > #ActivitySlider > .slidenav {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  fill: #fe141a;
}

#ActivityContainer > #ActivitySlider > #prevSlide {
  left: 10px;
}

#ActivityContainer > #ActivitySlider > #nextSlide {
  right: 10px;
}

#ActivityContainer > #ActivitySlider > .slick-list{
  height: 500px;
  width: 100%;
}

#ActivityContainer > #ActivitySlider > .slick-list > .slick-track {
  height: 100%;
}

#ActivityContainer > #ActivitySlider > .slick-list > .slick-track > .item {
  position: relative;
}

#ActivityContainer > #ActivitySlider > .slick-list > .slick-track > .item  > .image{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#ActivityContainer > #ActivitySlider > .slick-list > .slick-track > .item > .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(167, 167, 167, 0.5);
  margin: 0;
  width: 100%;
  padding: 10px;
}