#Lessons {
  height: 100%;
}
#ManageLessons {
  margin-left: 250px;
}

#ManageLessons > .tabs {
  margin-bottom: 20px;
}

#ManageLessons > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageLessons > .form > #LessonReviewer > input[name='reviewer_file'] {
  display: none;
}

#ManageLessons > .table.subjects > thead > tr > th:nth-child(1) {
  width: 100%;
}

#ManageLessons > .table.subjects > thead > tr > th:nth-child(2) {
  text-align: center;
} 

#ManageLessons > .form > #LessonEditorContainer {
  margin-bottom: 10px;
}

#ManageLessons > .form > #LessonReviewer{
  flex-direction: row;
}

#ManageLessons > .form > .input{
  margin-bottom: 10px;
}

#ManageLessons > .form > .create {
  text-align: center;
  background-color: #FFB214;
  color: #fff;
  width: 100px;
}

#ManageLessons > .table.lessons > thead > tr > th:nth-child(2),
#ManageLessons > .table.lessons > tbody > tr > td:nth-child(2) {
  text-align: center;
  width: 175px;
} 