#ManageLessons {
  margin-left: 250px;
}

#ManageLessons > .tabs {
  margin-bottom: 20px;
}

#ManageLessons > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageLessons > .form > #LessonReviewer > input[name='reviewer_file'] {
  display: none;
}

#ManageLessons > .form > .button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
}

#ManageLessons > .table.subjects {
  width: 50%;
}

#ManageLessons > .table.subjects > thead > tr > th:nth-child(1) {
  width: 100%;
}

#ManageLessons > .table.subjects > thead > tr > th:nth-child(2) {
  text-align: center;
} 