#ManageLessons {
  margin-left: 250px;
}

#ManageLessons > .tabs {
  margin-bottom: 20px;
}

#ManageLessons > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageLessons > .form > #PDFLesson > input[name='reviewer_file'] {
  display: none;
}

#ManageLessons > .form > .button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
}