

/* Login */
#LoginWrapper {
  padding-top: 73px;
}

#LoginWrapper > #Header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 20px;
}

#LoginWrapper > #Header > .container > .als-logo > .img{
  width: 60px;
  height: 60px;
}

#LoginWrapper > #Header > .container > #LoginForm {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

#LoginWrapper > #Header > .container > #LoginForm > .error_message {
  font-size: 0.7em;
  margin: 0;
  color: #fff;
  text-align: right;
  position: absolute;
  top: 45px;
}

#LoginWrapper > #Header > .container > #LoginForm > .field:nth-child(n + 2) {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#LoginWrapper > #Header > .container > #LoginForm > .button {
  margin-left: 10px;
  background-color: #bf1116;
  color: #fff;
  padding: 5px 15px;
  font-size: 0.8em;
  text-transform: uppercase;
}

#LoginWrapper > #HeaderImage {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: auto
}

#LoginWrapper > #HeaderImage > img {
  width: 100%;
}

#LoginWrapper > .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

#LoginWrapper > #Features,
#LoginWrapper > #AboutUs,
#LoginWrapper > #ContactUs {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#LoginWrapper > #Features > .feature {
  display: flex;
  align-items: center;
}

#LoginWrapper > #AboutUs > .content  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#LoginWrapper > #Features > .feature > .icon {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}
#LoginWrapper > #Features > .feature > .details > .title {
  margin-bottom: 0;
}
#LoginWrapper > #Features > .feature > .details > .description{
  width: 250px;
  margin-top: 5px;
  text-align: justify;
}

#LoginWrapper > #AboutUs > .content > .description {
  width: 330px;
  text-align: justify;
}

#LoginWrapper > #ContactUs > .content {
  display: flex;
  align-content: center;
}

#LoginWrapper > #ContactUs > .content > .icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

#LoginWrapper > #ContactUs > .content > .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#LoginWrapper > #ContactUs > .content > .details > .title,
#LoginWrapper > #ContactUs > .content > .details > .description{
  margin: 0;
}