

/* Login */
#LoginWrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #f9f9af;
  
}

#LoginWrapper > .header {
  display: flex;
  justify-content: center;
  width: 100%;
}

#LoginWrapper > .header > img {
  width: 900px;
  height: 100%;
}

#LoginWrapper > #LoginFormContainer {
  width: 300px;
  padding: 20px;
  background-color:#83ad44;
  color: #fff;
  position: relative;
  top: -70px;
  box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#LoginWrapper > #LoginFormContainer > .logo {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#LoginWrapper > #LoginFormContainer > #LoginForm {
  display: flex;
  flex-direction: column;
}

#LoginWrapper > #LoginFormContainer > #LoginForm > .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#LoginWrapper > #LoginFormContainer > #LoginForm > .field > .label {
  font-size:small;
}

#LoginWrapper > #LoginFormContainer > #LoginForm > .button {
  margin-top: 10px;
  background-color: #c0c92e;
  color: #fff;
}


#LoginWrapper > #LoginFormContainer > #LoginForm > .error_message {
  font-size: 0.7em;
  margin: 0;
  color: #ff5a5a;
  text-align: right;
}