@import './normalizer.css';
@import './font/style.css';
@import './login.css';
@import './header.css';
@import './sidebar.css';
@import './dashboard.css';
@import './lessons.css';
@import './questions.css';
@import './components/button.css';
@import './components/dropdown.css';

html, body {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

#Dashboard, #Lessons, #Questions {
  margin-top: 77px;
}

.wrapper {
  display: flex;
  height: 100%;
}

.wrapper > .page{
  width: calc(100% - 300px);
  margin-left: auto;
}