@import './normalizer.css';
@import './font/style.css';
@import './login.css';
@import './header.css';
@import './sidebar.css';
@import './dashboard.css';
@import './components/button.css';
@import './components/dropdown.css';

html, body {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  height: 100%;
}