#ManageQuestions {
  margin-left: 250px;
}

#ManageQuestions > .tabs {
  margin-bottom: 20px;
}

#ManageQuestions > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageQuestions > .form > .input > textarea[name='question'],
#ManageQuestions > .form > .input > textarea[name='explanation'] {
  resize: none;
}

#ManageQuestions > .form > .input > .choice-answer {
  display: flex;
  align-items: center;
}

#ManageQuestions > .form > .input > .choice-answer > input[type='radio'] {
  margin-left: 10px;
}

#ManageQuestions > .form > .input > .choice-answer > input[type='text'] {
  width: 100%;
}

#ManageQuestions > .table-actions {
  display: flex;
  align-items: center;
}

#ManageQuestions > .table-actions > .filter {
  margin-right: 10px;
}

#ManageQuestions > #ViewQuestion > .choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#ManageQuestions > #ViewQuestion > .question {
  margin-top: 0;
}

#ManageQuestions > #ViewQuestion > .label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: small;
}

#ManageQuestions > #ViewQuestion > .choice-container > .answer {
  margin-right: 10px;
}

#ManageQuestions > #ViewQuestion > .choice-container > .check{
  width: 15px;
  fill: green;
}
#ManageQuestions > #ViewQuestion > .choice-container > .answer,
#ManageQuestions > #ViewQuestion > .choice-container > .choice,
#ManageQuestions > #ViewQuestion > .explanation {
  margin-top: 0;
  margin-bottom: 0;
}

#CreateModal > .content > .form > .question,
#CreateModal > .content > .form > .choices {
  margin-bottom: 10px;
  position: relative;
}

#CreateModal > .content > .form > .choices > .choice:nth-last-child(n + 2) {
  margin-bottom: 5px;
}

#CreateModal > .content > .form > .add {
  font-size: small;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
}

#CreateModal > .content > .form > .choices > .choice .remove {
  font-size: 0.7em;
  position: absolute;
  top: 2px;
  right: 0;
  color: #d83737;
}

#ViewQuestionModal > .content > .question {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  max-width: 400px;
  border: 0.5px solid #e6e6e6;
}

#ViewQuestionModal > .content > .choices {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#ViewQuestionModal > .content > .choices > .choice {
  padding: 5px 10px;
}
#ViewQuestionModal > .content > .choices > .choice.answer {
  background-color: #d8ffd8
}

#ViewQuestionModal > .content > .explanation {
  font-size: 0.75em;
  padding: 10px;
  background: #fff2e5;
  font-style: italic;
}