#ManageQuestions {
  margin-left: 250px;
}

#ManageQuestions > .tabs {
  margin-bottom: 20px;
}

#ManageQuestions > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageQuestions > .form > .input > textarea[name='question'],
#ManageQuestions > .form > .input > textarea[name='explanation'] {
  resize: none;
}

#ManageQuestions > .form > .input > .choice-answer {
  display: flex;
  align-items: center;
}

#ManageQuestions > .form > .input > .choice-answer > input[type='radio'] {
  margin-left: 10px;
}

#ManageQuestions > .form > .input > .choice-answer > input[type='text'] {
  width: 100%;
}

#ManageQuestions > .table-actions {
  display: flex;
  align-items: center;
}

#ManageQuestions > .table.subjects > thead > tr > th:nth-child(1) {
  width: 100%;
}

#ManageQuestions > .table.subjects > thead > tr > th:nth-child(2) {
  min-width: 135px;
  text-align: center;
} 


#ManageQuestions > .table.questions > thead > tr > th:nth-last-child(1),
#ManageQuestions > .table.questions > tbody > tr > td:nth-last-child(1) {
  text-align: center;
  width: 160px;
} 

#ManageQuestions > .table-actions > .filter {
  margin-right: 10px;
}

#ManageQuestions > #ViewQuestion > .choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#ManageQuestions > #ViewQuestion > .question {
  margin-top: 0;
}

#ManageQuestions > #ViewQuestion > .label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: small;
}

#ManageQuestions > #ViewQuestion > .choice-container > .answer {
  margin-right: 10px;
}

#ManageQuestions > #ViewQuestion > .choice-container > .check{
  width: 15px;
  fill: green;
}
#ManageQuestions > #ViewQuestion > .choice-container > .answer,
#ManageQuestions > #ViewQuestion > .choice-container > .choice,
#ManageQuestions > #ViewQuestion > .explanation {
  margin-top: 0;
  margin-bottom: 0;
}

#CreateModal > .content > .form > .question-type {
  display: none;
}

#CreateModal > .content > .form > .choice-types > #TrueOrFalse,
#CreateModal > .content > .form > .choice-types > #FillInTheBlank {
  display: none;
}

#CreateModal > .content > .form > .question,
#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices {
  margin-bottom: 10px;
  position: relative;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices{
  border: 1px solid #d6d6d6;
  padding: 15px;
  border-radius: .28571429rem;
}

#CreateModal > .content > .form > .question > textarea,
#CreateModal > .content > .form > .explanation > textarea{
  resize: none;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices > .choice:nth-last-child(n + 2) {
  margin-bottom: 20px;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .add {
  font-size: small;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #09B400;
  border: 1px solid #09B400;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .add > .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  fill: #09B400;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices > .choice > .remove {
  font-size: 0.6em;
  position: absolute;
  top: -15px;
  right: 0;
  color: #ffffff;
  background: #d83737;
  padding: 2px 10px;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices > .choice > .answer {
  display: flex;
  align-items: center;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices > .choice > .answer > input[type='radio'] {
  margin-right: 10px;
}

#CreateModal > .content > .form > .choice-types > #MultipleChoice > .question > label.error-field,
#CreateModal > .content > .form > .choice-types > #MultipleChoice > .choices > .choice > .answer > label.error-field {
  position: absolute;
  font-size: 0.7em;
  font-style: italic;
  color: #ff5f5f;
  bottom: 6px;
  right: 6px;
}

#ViewQuestionModal > .content > .question {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  max-width: 500px;
  border: 0.5px solid #e6e6e6;
}

#ViewQuestionModal > .content > .choices {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#ViewQuestionModal > .content > .choices > .choice {
  padding: 5px 10px;
}
#ViewQuestionModal > .content > .choices > .choice.answer {
  background-color: #d8ffd8
}

#ViewQuestionModal > .content > .explanation {
  font-size: 0.75em;
  padding: 10px;
  background: #fff2e5;
  font-style: italic;
  max-width: 500px;
}


.modal-container > .modal.questions {
  min-width: 500px;
}
.modal-container > .modal.questions > .content > .form > .question > textarea,
.modal-container > .modal.questions > .content > .form > .explanation > textarea {
  height: 80px;
}