/* Question */
#Questions > .page > .table {
  border-collapse: collapse;
  border-spacing: 0;
}
#Questions > .page > .table,
#Questions > .page > .table > thead > tr > th,
#Questions > .page > .table > tbody > tr > td {
  border: 1px solid #000;
}