#ManageReports > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ManageReports > .subjects > tbody > tr > td:nth-child(1) { 
  width: 100%;
}

#ManageReports > .subjects > tbody > tr > td:nth-child(2) {
  min-width: 110px;
}