#Sidebar {
  width: 250px;
  background-color:red;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Sidebar > .button {
  list-style: none;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
}

#Sidebar > .button.active {
  background-color: white;
  color: black;
}

#Sidebar > .button:hover {
  background-color: white;
  color: black;
}