.button {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 10px;
  background-color: #e0e0e0;
  color: #000;
  box-sizing: border-box;
}

.button.basic {
  background-color:transparent;
  padding: 0;
}

.button:focus {
  outline: none;
}