#Sidebar {
  width: 253px;
  background-color:#d91e18;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Sidebar > .button {
  list-style: none;
  color: white;
  font-size: 0.85em;
  padding: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
}
#Sidebar > .button.active {
  background-color: #ffffff;
  color: #d91e18;
}