.tabs {
  display: flex;
  align-items: center;
}

.tabs > .tab {
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid rgba(34,36,38,.15);
}

.tabs > .tab.active {
  background: #e0e0e0;
}